/* Default settings */
body{
    box-sizing: border-box;
    margin: 0px;
    height: 100vh;
}
/* all element selector *{} */
*{
    margin: 0;
    padding: 0;
}
/* end of default settings */
.nav-bar{
    /* The flexbox helps to move elements around within a parent. To move the children around you need to assign the display:flex to the parent element NOT the children. */
    display: flex;
    justify-content: space-between;
    
    height:9vh ;
    align-items: center;
    padding-inline: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

}
.logo{
     width: 20%;
     
}
.hero{
    background-color:#ccedff;
}
.hero-wrap >h1 {
    letter-spacing: 2px;
    font-family:premium-nova,sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 1.5rem 0;
    color: #1d2a3b;
}
.hero-wrap{
    width: 85%;
    margin:0 auto;
}

.hero-wrap >h2 {
    font-family:Source serif Pro, serif ;
    font-weight:bolder;
    font-size: 2.5rem;
    line-height: 1.1;
    padding-bottom: 1.5rem;
    color: #1d2a3b;

}
.hero-wrap >p{
    font-family:premium-nova,sans-serif ;
    line-height: 1.1;
    font-weight:500 ;
    font-size: 1.2rem;
    color: #49576b;
    margin-bottom: 1.5rem;
}
.hero-wrap >button{
    color:white;
    padding: 1.1rem;
    border:0;
    border-radius: 1px;
    background-color: #194acf;
    font-size:1.2rem ;
    font-weight:600;
    margin-bottom:2.5rem ;
    width: 75%;
}
.hero_image{
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    margin-bottom:2.5rem ;


}

.hero-wrap2{
        width: 85%;
        margin:2.5rem auto;
}

.hero-wrap2 >h2 {
    font-family:Source serif Pro, serif ;
    font-weight:800;
    font-size: 2.5rem;
    line-height:1.0;
    padding-bottom: 1.5rem;
}

.hero-wrap2 >p{
    font-family:premium-nova,sans-serif ;
    line-height: 1.1;
    font-weight:500 ;
    font-size: 1.1rem;
    color: #475972;
    margin-bottom: 1.5rem;
}
.hero-wrap3{
    width:85%;
    margin:1.5rem auto;
    padding-bottom: 2px;
}
